# Terraform
.terraform/
.terraform.lock.hcl
.terragrunt-cache/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan

# Environment variables
.env
.env.*

# Kubernetes
kubeconfig
kubeconfig.*
*.kubeconfig

# Credentials and secrets
*.key
*.pem
*.p12
*.json
!platform/**/module/*.tf.json
!app-repo-blueprint/**/*.json

# General
.DS_Store
*.log
*.swp
*.swo
.vscode/
.idea/
