apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: NAMESPACE_NAME

resources:
  - ../../base

commonLabels:
  environment: dev

patches:
  - target:
      kind: Deployment
      name: platform-demo
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: registry.onstackit.cloud/HARBOR_PROJECT/platform-demo:latest
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: dev
