# S3 backend configuration
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# STACKIT credentials
STACKIT_PROJECT_ID=
STACKIT_SERVICE_ACCOUNT_KEY_PATH=

# Harbor credentials
HARBOR_USERNAME=
HARBOR_CLI_SECRET=
HARBOR_ROBOT_USERNAME=
HARBOR_ROBOT_TOKEN=

# ArgoCD admin password (bcrypt hash)
ARGOCD_ADMIN_PASSWORD_BCRYPT=
