apiVersion: apps/v1
kind: Deployment
metadata:
  name: platform-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: platform-demo
  template:
    metadata:
      labels:
        app: platform-demo
    spec:
      imagePullSecrets:
        - name: harbor-pull-secret
      containers:
        - name: app
          image: registry.onstackit.cloud/HARBOR_PROJECT/platform-demo:latest
          ports:
            - containerPort: 8000
          env:
            - name: ENVIRONMENT
              value: "dev"
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
